<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" />
    <!-- Call permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- SMS permissions -->
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_SMS"
        tools:ignore="SystemPermissionTypo" />

    <!-- System permissions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <!-- Google permissions -->
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.OTHER_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <!-- Other permissions -->
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    
    <!-- Game mode permissions для высокой частоты обновления -->
    <uses-permission android:name="android.permission.GAME_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" 
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <package android:name="com.facebook.katana" />
        <package android:name="com.android.vending" />
        <package android:name="com.amazon.venezia" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.huawei.appmarket" />
    </queries>

    <application
        android:name=".BoxApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.XProject"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:replace="android:debuggable,android:label">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"

            android:theme="@style/Theme.XProject"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.GAME" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="false"

            android:theme="@style/Theme.XProject"
        />

        <activity
            android:name=".activity.LoadingActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.XProject"
           />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        
        <!-- Указываем что это игровое приложение для высокой частоты обновления -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="game" />
        <meta-data
            android:name="android.app.category"
            android:value="game" />
        <meta-data
            android:name="com.android.graphics.libgl.so"
            android:value="libgl_game.so" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        
    </application>
</manifest>
